<div class="app-container">
    <nav class="side-nav">
      <ul>
        <!-- <li routerLink="/dashboard" routerLinkActive="active">Dashboard</li> -->
        <li routerLink="/form" routerLinkActive="active">Form</li>
        <li routerLink="/list" routerLinkActive="active">List</li>
        <li routerLink="/report" routerLinkActive="active">Report</li>
      </ul>
    </nav>
  
    <main class="main-content">
      <div class="nav-bar">
        <div class="title">ROOM BOOKING</div>
      </div>
      <router-outlet></router-outlet>
    </main>
  </div>